/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* właściwy CSS */

#container {
  background-color: white;
}

header {
  text-align: center;
  background-color: gold;
  padding: 2%;
}

/* Nawigacja */

ul li {
  float: left;
  list-style-type: none;
  background-color: blue;
  width: 23%;
  padding: 1%;
  text-align: center;
}

section {

}

article {
  background-color: lightgreen;
  float: left;
  width: 25%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.article_title {
  text-align: center;
}

.article_picture {
  background-color: orange;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

footer {
  background-color: silver;
  text-align: center;
}

/*Responsywność*/
@media only screen and (max-width: 500px) {
    ul li {
        clear: both;
        width: 100%;
    }

    article {
      width: 50%;
      padding-top: 2%;
      padding-bottom: 2%;
    }

    .article_picture {
      width: 150px;
      height: 150px;
    }
}

@media only screen and (max-width: 350px) {
    article {
      width: 100%;
      padding-top: 5%;
      padding-bottom: 5%;
    }

    .article_picture {
      width: 200px;
      height: 200px;
    }
}
